// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
$chartWidth: 20%;
.text-brand {
  color: #43425d;
}
.bg-brand {
  background: #43425d;
}
.item {
  font-family: "Mulish", sans-serif;
  text-align: left;
  color: #e4e4e4d2;
  font-size: 16px;
  border-radius: 20px;
}
.item:hover {
  border-radius: 20px;
  font-weight: bold;
  color: $primary;
}
.title-logo {
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  color: #e4e4e4d2;
  font-weight: 400;
  font-size: 19px;
  margin-bottom:50px;
}
.title-logo:hover{
  border-radius: 20px;
  color: #8483BE ;
  font-weight: bold;
}
.page {
  display: flex;
  // background-image: url("https://images.unsplash.com/photo-1477322524744-0eece9e79640?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1422&q=80");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background: linear-gradient(
    -135deg,
    rgba(230, 230, 230, 1) 0%,
    rgb(217, 216, 243) 56%,
    rgba(230, 230, 230, 1) 100%,
    rgb(182, 180, 226) 56%,
    rgba(230, 230, 230, 1) 100%,
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.widget {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10px 10px 10px;
  // background-color: #f4f4f8;

  border-radius: 15px;
  width: fit-content;
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  height: fit-content;
  min-height: 100px;
  // box-shadow: 4px 2px 128px -23px rgba(0, 0, 0, 0.14);
  // box-shadow: 0 0 3px rgba(#000, .1);
  // -webkit-box-shadow: 4px 2px 128px -23px rgba(0, 0, 0, 0.14);
  // -moz-box-shadow: 4px 2px 128px -23px rgba(0, 0, 0, 0.14);
  overflow-wrap: break-word;
}
.highcharts-background {
  fill: transparent;
}
.q-table__card {
  color: #000;
  background-color: #fff0;
  border-radius: 4px;
  box-shadow: 0 0px 0px;
}
.info {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}
.overview {
  padding: 15px;
  width: fit-content;
}
.text {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  color: grey;
}
.vue-highcharts {
  margin-right: 50px;
  width: 100%;
}
.fluent {
  background-color: rgba(#fff, 0.5);
  box-shadow: 0 0 3px rgba(#000, 0.3);
  backdrop-filter: blur(10px);
}
.q-menu {
  background-color: rgba(#fff, 0.4);
  box-shadow: 0 0 3px rgba(#000, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 15px;
}
.q-card {
  background-color: rgba(#fff, 0.6);
  box-shadow: 0 0 3px rgba(#000, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
}
