// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
$chartWidth: 20%;
.text-brand {
  color: #43425d;
}
.bg-brand {
  background: #43425d;
}
.headerBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 1px;
  right: 25%;
  left: 5%;
  background-color: rgba(#fff, 0.5);
  box-shadow: 0 0 10px rgba(#000, 0.3);
  backdrop-filter: blur(10px);
  padding-top: 5px;
  width: 100%;
  height: fit-content;
  margin: 20px 10px 10px 10px;
  border-radius: 20px;
  z-index: 1;
  scroll-behavior: smooth;
}
.item {
  font-family: "Mulish", sans-serif;
  text-align: left;
  color: #e4e4e4d2;
  font-size: 16px;
  border-radius: 20px;
}
.item:hover {
  border-radius: 20px;
  font-weight: bold;
  color: $primary;
}
.title-logo {
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  color: #e4e4e4d2;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 50px;
}
.title-logo:hover {
  border-radius: 20px;
  color: $primary;
  font-weight: bold;
}
.page {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1531436107035-40b2e85b7a1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background: rgb(62, 89, 145);
  background: linear-gradient(
    -135deg,
    rgba(62, 89, 145, 1) 0%,
    rgba(182, 206, 255, 1) 56%,
    rgba(219, 231, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.widget {
  cursor: url("/src/assets/curs.png"), url("/src/assets/curs.svg"), url("/src/assets/curs.cur"), default;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10px 10px 10px;
  // background-color: #f4f4f8;

  border-radius: 15px;
  width: fit-content;
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  height: fit-content;
  min-height: 100px;
  // box-shadow: 4px 2px 128px -23px rgba(0, 0, 0, 0.14);
  // box-shadow: 0 0 3px rgba(#000, .1);
  // -webkit-box-shadow: 4px 2px 128px -23px rgba(0, 0, 0, 0.14);
  // -moz-box-shadow: 4px 2px 128px -23px rgba(0, 0, 0, 0.14);
  overflow-wrap: break-word;
}
.highcharts-background {
  fill: transparent;
}
.q-table__card {
  color: #000;
  background-color: #fff0;
  border-radius: 4px;
  box-shadow: 0 0px 0px;
}
.info {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}
.overview {
  padding: 10px 15px 15px 15px;
  width: fit-content;
}
.text {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  color: grey;
}
.vue-highcharts {
  width: 82%;
  -webkit-margin-collapse: collapse;
}
.fluent {
  
  background-color: rgba(#fff, 0.5);
  box-shadow: 0 0 3px rgba(#000, 0.3);
  backdrop-filter: blur(10px);
}
.q-menu {
  background-color: rgba(#fff, 0.4);
  box-shadow: 0 0 3px rgba(#000, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 15px;
}
.q-card {
  background-color: rgba(#fff, 0.6);
  box-shadow: 0 0 3px rgba(#000, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
}
